### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players=purchase_data['Purchase ID'].count()
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
item_name=purchase_data['Item Name'].unique()
item_name

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [5]:
item_group= purchase_data.groupby('Item Name')

In [6]:
number_items=pd.DataFrame(item_group['Purchase ID'].count())
number_items=number_items.reset_index()
number_items=number_items.rename(columns={"Purchase ID":"Number of Items"})
number_items

                                    Item Name  Number of Items
0                               Abyssal Shard                5
1              Aetherius, Boon of the Blessed                5
2                                      Agatha                6
3                                       Alpha                3
4                         Alpha, Oath of Zeal                3
5                 Alpha, Reach of Ending Hope                1
6                                     Amnesia                6
7                    Apocalyptic Battlescythe                6
8                                  Arcane Gem                3
9                                     Avenger                6
10                                 Azurewrath                6
11       Betrayal, Whisper of Grieving Widows                5
12                                   Betrayer                1
13                         Blade of the Grave                4
14          Blazefury, Protector of Delusions                3
15              Blazeguard, Reach of Eternity                5
16                                Blindscythe                5
17                     Blood Infused Guardian                6
18                Blood-Forged Skeletal Spine                6
19                         Bloodlord's Fetish                5
20                Bone Crushing Silver Skewer                4
21                      Bonecarvin Battle Axe                5
22                                  Brimstone                5
23                    Brutality Ivory Warmace                8
24                                    Celeste                1
25      Celeste, Incarnation of the Corrupted                4
26                    Chaos, Ender of the End                5
27                  Conqueror Adamantite Mace                5
28                                   Crucifer                4
29                        Crying Steel Sickle                3
..                                        ...              ...
149         Thorn, Conqueror of the Corrupted                4
150              Thorn, Satchel of Dark Souls                7
151                      Thunderfury Scimitar                5
152                                 Toothpick                3
153                Torchlight, Bond of Storms                2
154         Tranquility, Razor of Black Magic                5
155                                 Trickster                2
156                         Twilight's Carver                4
157                           Undead Crusader                1
158                          Unending Tyranny                3
159                               Unholy Wand                2
160                         Vengeance Cleaver                7
161                            Venom Claymore                4
162                                   Verdict                6
163                        Victor Iron Spikes                4
164                     Vindictive Glass Edge                3
165                 War-Forged Gold Deflector                5
166        Warmonger, Gift of Suffering's End                3
167                   Warped Diamond Crusader                3
168                             Warped Fetish                5
169                      Warped Iron Scimitar                5
170                Whistling Mithril Warblade                2
171                             Winter's Bite                8
172  Winterthorn, Defender of Shifting Worlds                2
173                Woeful Adamantite Claymore                3
174                                      Wolf                8
175           Wolf, Promise of the Moonwalker                6
176                              Worldbreaker                4
177                          Yearning Crusher                3
178                        Yearning Mageblade                5

[179 rows x 2 columns]

In [7]:
average_price=pd.DataFrame(item_group['Price'].mean())
average_price=average_price.reset_index()
average_price=average_price.rename(columns={"Price":"Average Price"})
average_price

                                    Item Name  Average Price
0                               Abyssal Shard         2.6700
1              Aetherius, Boon of the Blessed         3.3900
2                                      Agatha         3.0800
3                                       Alpha         2.0700
4                         Alpha, Oath of Zeal         4.0500
5                 Alpha, Reach of Ending Hope         3.5800
6                                     Amnesia         2.1800
7                    Apocalyptic Battlescythe         1.9700
8                                  Arcane Gem         3.7900
9                                     Avenger         3.4400
10                                 Azurewrath         4.4000
11       Betrayal, Whisper of Grieving Widows         3.9400
12                                   Betrayer         2.9400
13                         Blade of the Grave         3.1400
14          Blazefury, Protector of Delusions         4.6400
15              Blazeguard, Reach of Eternity         4.9100
16                                Blindscythe         3.2700
17                     Blood Infused Guardian         1.9400
18                Blood-Forged Skeletal Spine         3.0900
19                         Bloodlord's Fetish         1.7000
20                Bone Crushing Silver Skewer         4.8600
21                      Bonecarvin Battle Axe         2.3800
22                                  Brimstone         3.6500
23                    Brutality Ivory Warmace         2.4200
24                                    Celeste         4.1700
25      Celeste, Incarnation of the Corrupted         3.4600
26                    Chaos, Ender of the End         1.9800
27                  Conqueror Adamantite Mace         4.2400
28                                   Crucifer         2.9425
29                        Crying Steel Sickle         3.4100
..                                        ...            ...
149         Thorn, Conqueror of the Corrupted         2.7300
150              Thorn, Satchel of Dark Souls         1.3300
151                      Thunderfury Scimitar         3.4500
152                                 Toothpick         4.0300
153                Torchlight, Bond of Storms         4.6500
154         Tranquility, Razor of Black Magic         1.7500
155                                 Trickster         1.5500
156                         Twilight's Carver         2.2800
157                           Undead Crusader         4.5000
158                          Unending Tyranny         2.8500
159                               Unholy Wand         1.1200
160                         Vengeance Cleaver         2.0500
161                            Venom Claymore         1.2900
162                                   Verdict         2.4800
163                        Victor Iron Spikes         4.4000
164                     Vindictive Glass Edge         2.2700
165                 War-Forged Gold Deflector         1.0100
166        Warmonger, Gift of Suffering's End         4.0300
167                   Warped Diamond Crusader         1.4000
168                             Warped Fetish         3.8100
169                      Warped Iron Scimitar         3.1000
170                Whistling Mithril Warblade         1.0000
171                             Winter's Bite         3.7700
172  Winterthorn, Defender of Shifting Worlds         2.0800
173                Woeful Adamantite Claymore         4.4800
174                                      Wolf         3.5400
175           Wolf, Promise of the Moonwalker         4.4800
176                              Worldbreaker         2.6000
177                          Yearning Crusher         4.1800
178                        Yearning Mageblade         3.8200

[179 rows x 2 columns]

In [8]:
purchase_analysis=number_items.merge(average_price,on='Item Name',how="inner")

In [9]:
purchase_analysis

                                    Item Name  Number of Items  Average Price
0                               Abyssal Shard                5         2.6700
1              Aetherius, Boon of the Blessed                5         3.3900
2                                      Agatha                6         3.0800
3                                       Alpha                3         2.0700
4                         Alpha, Oath of Zeal                3         4.0500
5                 Alpha, Reach of Ending Hope                1         3.5800
6                                     Amnesia                6         2.1800
7                    Apocalyptic Battlescythe                6         1.9700
8                                  Arcane Gem                3         3.7900
9                                     Avenger                6         3.4400
10                                 Azurewrath                6         4.4000
11       Betrayal, Whisper of Grieving Widows                5         3.9400
12                                   Betrayer                1         2.9400
13                         Blade of the Grave                4         3.1400
14          Blazefury, Protector of Delusions                3         4.6400
15              Blazeguard, Reach of Eternity                5         4.9100
16                                Blindscythe                5         3.2700
17                     Blood Infused Guardian                6         1.9400
18                Blood-Forged Skeletal Spine                6         3.0900
19                         Bloodlord's Fetish                5         1.7000
20                Bone Crushing Silver Skewer                4         4.8600
21                      Bonecarvin Battle Axe                5         2.3800
22                                  Brimstone                5         3.6500
23                    Brutality Ivory Warmace                8         2.4200
24                                    Celeste                1         4.1700
25      Celeste, Incarnation of the Corrupted                4         3.4600
26                    Chaos, Ender of the End                5         1.9800
27                  Conqueror Adamantite Mace                5         4.2400
28                                   Crucifer                4         2.9425
29                        Crying Steel Sickle                3         3.4100
..                                        ...              ...            ...
149         Thorn, Conqueror of the Corrupted                4         2.7300
150              Thorn, Satchel of Dark Souls                7         1.3300
151                      Thunderfury Scimitar                5         3.4500
152                                 Toothpick                3         4.0300
153                Torchlight, Bond of Storms                2         4.6500
154         Tranquility, Razor of Black Magic                5         1.7500
155                                 Trickster                2         1.5500
156                         Twilight's Carver                4         2.2800
157                           Undead Crusader                1         4.5000
158                          Unending Tyranny                3         2.8500
159                               Unholy Wand                2         1.1200
160                         Vengeance Cleaver                7         2.0500
161                            Venom Claymore                4         1.2900
162                                   Verdict                6         2.4800
163                        Victor Iron Spikes                4         4.4000
164                     Vindictive Glass Edge                3         2.2700
165                 War-Forged Gold Deflector                5         1.0100
166        Warmonger, Gift of Suffering's End                3         4.0300
167                   Warped Diamond Crusader                3         1.4000
168                             Warped Fetish                5         3.8100
169                      Warped Iron Scimitar                5         3.1000
170                Whistling Mithril Warblade                2         1.0000
171                             Winter's Bite                8         3.7700
172  Winterthorn, Defender of Shifting Worlds                2         2.0800
173                Woeful Adamantite Claymore                3         4.4800
174                                      Wolf                8         3.5400
175           Wolf, Promise of the Moonwalker                6         4.4800
176                              Worldbreaker                4         2.6000
177                          Yearning Crusher                3         4.1800
178                        Yearning Mageblade                5         3.8200

[179 rows x 3 columns]

## Gender Demographics

In [10]:
gender_group=purchase_data.groupby('Gender')

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
gender_count=pd.DataFrame(gender_group['Purchase ID'].count())
gender_count=gender_count.reset_index()
gender_count=gender_count.rename(columns={'Purchase ID':'Gender Count'})
gender_count

                  Gender  Gender Count
0                 Female           113
1                   Male           652
2  Other / Non-Disclosed            15

In [12]:
gender_count['Gender Percentage']=gender_count['Gender Count']/int(total_players)*100
gender_count

                  Gender  Gender Count  Gender Percentage
0                 Female           113          14.487179
1                   Male           652          83.589744
2  Other / Non-Disclosed            15           1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
pur_gen=pd.DataFrame(gender_group['Price'].sum())
pur_gen=pur_gen.reset_index()
pur_gen

                  Gender    Price
0                 Female   361.94
1                   Male  1967.64
2  Other / Non-Disclosed    50.19

In [14]:
pur_gen=gender_count.merge(pur_gen,on='Gender',how='inner')
pur_gen

                  Gender  Gender Count  Gender Percentage    Price
0                 Female           113          14.487179   361.94
1                   Male           652          83.589744  1967.64
2  Other / Non-Disclosed            15           1.923077    50.19

In [15]:
pur_gen['Purchase per person']=pur_gen['Price']/pur_gen['Gender Count']
pur_gen=pur_gen.rename(columns={"Price":"Total Purchase"})
pur_gen

,Gender,Gender Count,Gender Percentage,Total Purchase,Purchase per person
0,Female,113,14.487179,361.94,3.203009
1,Male,652,83.589744,1967.64,3.017853
2,Other / Non-Disclosed,15,1.923077,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
age_bin=[15,20,24,30,100]
bin_name=['15-19 year old','20-23 year old','24-29 year old','30 and older']

In [17]:
purchase_data['Age Group']=pd.cut(purchase_data['Age'],age_bin,labels=bin_name,right=False)

In [18]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-23 year old
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,30 and older
2,2,Ithergue48,24,Male,92,Final Critic,4.88,24-29 year old
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,24-29 year old
4,4,Iskosia90,23,Male,131,Fury,1.44,20-23 year old
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-23 year old
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,30 and older
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-23 year old
8,8,Undjask33,22,Male,21,Souleater,1.10,20-23 year old
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,30 and older
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-23 year old
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-23 year old
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-23 year old
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-23 year old
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,30 and older
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-23 year old
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-23 year old
17,17,Zontibe81,21,Male,161,Devine,1.76,20-23 year old
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-23 year old
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30 and older
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-23 year old
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-23 year old
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,30 and older
23,23,Eyrian71,40,Male,151,Severance,3.40,30 and older
24,24,Siala43,30,Male,141,Persuasion,3.19,30 and older
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,24-29 year old
26,26,Lirtossa84,11,Male,71,Demise,1.61,NaN
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,NaN
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-23 year old
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,24-29 year old
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-23 year old
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,NaN
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19 year old
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30 and older
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-23 year old
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,NaN
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-23 year old
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19 year old
758,758,Iral74,21,Male,182,Toothpick,4.03,20-23 year old
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,24-29 year old
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-23 year old
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,30 and older
762,762,Asur53,26,Male,110,Suspension,1.44,24-29 year old
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-23 year old
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19 year old
765,765,Irith83,18,Male,130,Alpha,2.07,15-19 year old
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-23 year old
767,767,Ilmol66,8,Female,92,Final Critic,4.88,NaN
768,768,Assassasta79,38,Male,92,Final Critic,4.88,30 and older
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19 year old
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30 and older
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19 year old
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,24-29 year old
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-23 year old
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,NaN
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-23 year old
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-23 year old
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-23 year old
778,778,Sisur91,7,Male,101,Final Critic,4.19,NaN
779,779,Ennrian78,24,Male,50,Dawn,4.60,24-29 year old

In [19]:
age_group=purchase_data.groupby('Age Group')
age_group

In [20]:
age_price=pd.DataFrame(age_group['Price'].mean())
age_price=age_price.reset_index()
age_price=age_price.rename(columns={"Price":"Average Purchase by age"})
age_price

        Age Group  Average Purchase by age
0  15-19 year old                 3.035956
1  20-23 year old                 3.033020
2  24-29 year old                 2.995357
3    30 and older                 3.148898

In [21]:
age_count=pd.DataFrame(age_group['Age'].count())
age_count=age_count.reset_index()
age_count=age_count.rename(columns={"Age":"Purchase count by age"})
age_count

        Age Group  Purchase count by age
0  15-19 year old                    136
1  20-23 year old                    298
2  24-29 year old                    168
3    30 and older                    127

In [22]:
age_group=age_price.merge(age_count,on='Age Group',how='inner')
age_group

        Age Group  Average Purchase by age  Purchase count by age
0  15-19 year old                 3.035956                    136
1  20-23 year old                 3.033020                    298
2  24-29 year old                 2.995357                    168
3    30 and older                 3.148898                    127

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
popular_item= purchase_data[['Item ID','Item Name','Price']]
popular_item.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [24]:
popular_item.shape

(780, 3)

In [25]:
popular_item['Item ID'].nunique()

183

In [26]:
popular_item['Item Name'].nunique()

179

In [27]:
popular=popular_item.groupby('Item ID')
popular

In [28]:
count_item=pd.DataFrame(popular['Item ID'].count())
count_item

         Item ID
Item ID
0              4
1              3
2              6
3              6
4              5
5              4
6              2
7              7
8              3
9              4
10             4
11             5
12             6
13             4
14             2
15             5
16             4
17             4
18             2
19             8
20             5
21             5
22             6
23             1
24             5
25             6
26             2
27             1
28             2
29             5
...          ...
154            4
155            5
156            5
157            4
158            2
159            7
160            6
161            5
162            5
163            5
164            7
165            4
166            3
167            4
168            2
169            4
170            4
171            3
172            4
173            2
174            4
175            3
176            2
177            2
178           12
179            6
180            1
181            5
182            3
183            3

[183 rows x 1 columns]

In [29]:
count_item=count_item.rename(columns={"Item ID":"Item count"})
count_item=count_item.reset_index()
count_item

     Item ID  Item count
0          0           4
1          1           3
2          2           6
3          3           6
4          4           5
5          5           4
6          6           2
7          7           7
8          8           3
9          9           4
10        10           4
11        11           5
12        12           6
13        13           4
14        14           2
15        15           5
16        16           4
17        17           4
18        18           2
19        19           8
20        20           5
21        21           5
22        22           6
23        23           1
24        24           5
25        25           6
26        26           2
27        27           1
28        28           2
29        29           5
..       ...         ...
153      154           4
154      155           5
155      156           5
156      157           4
157      158           2
158      159           7
159      160           6
160      161           5
161      162           5
162      163           5
163      164           7
164      165           4
165      166           3
166      167           4
167      168           2
168      169           4
169      170           4
170      171           3
171      172           4
172      173           2
173      174           4
174      175           3
175      176           2
176      177           2
177      178          12
178      179           6
179      180           1
180      181           5
181      182           3
182      183           3

[183 rows x 2 columns]

In [30]:
count_item.shape

(183, 2)

In [31]:
count_item.duplicated().count()

183

In [32]:
count_item.drop_duplicates(inplace=True)

In [33]:
count_item.shape

(183, 2)

In [34]:
popular_item=count_item.merge(popular_item,on='Item ID',how='left')
popular_item

     Item ID  Item count                                     Item Name  Price
0          0           4                                      Splinter   1.28
1          0           4                                      Splinter   1.28
2          0           4                                      Splinter   1.28
3          0           4                                      Splinter   1.28
4          1           3                                      Crucifer   3.26
5          1           3                                      Crucifer   3.26
6          1           3                                      Crucifer   3.26
7          2           6                                       Verdict   2.48
8          2           6                                       Verdict   2.48
9          2           6                                       Verdict   2.48
10         2           6                                       Verdict   2.48
11         2           6                                       Verdict   2.48
12         2           6                                       Verdict   2.48
13         3           6                                  Phantomlight   2.49
14         3           6                                  Phantomlight   2.49
15         3           6                                  Phantomlight   2.49
16         3           6                                  Phantomlight   2.49
17         3           6                                  Phantomlight   2.49
18         3           6                                  Phantomlight   2.49
19         4           5                            Bloodlord's Fetish   1.70
20         4           5                            Bloodlord's Fetish   1.70
21         4           5                            Bloodlord's Fetish   1.70
22         4           5                            Bloodlord's Fetish   1.70
23         4           5                            Bloodlord's Fetish   1.70
24         5           4                                    Putrid Fan   4.08
25         5           4                                    Putrid Fan   4.08
26         5           4                                    Putrid Fan   4.08
27         5           4                                    Putrid Fan   4.08
28         6           2                                   Rusty Skull   3.70
29         6           2                                   Rusty Skull   3.70
..       ...         ...                                           ...    ...
750      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
751      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
752      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
753      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
754      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
755      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
756      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
757      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
758      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
759      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
760      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
761      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
762      179           6               Wolf, Promise of the Moonwalker   4.48
763      179           6               Wolf, Promise of the Moonwalker   4.48
764      179           6               Wolf, Promise of the Moonwalker   4.48
765      179           6               Wolf, Promise of the Moonwalker   4.48
766      179           6               Wolf, Promise of the Moonwalker   4.48
767      179           6               Wolf, Promise of the Moonwalker   4.48
768      180           1                                   Stormcaller   3.36
769      181           5                                 Reaper's Toll   1.66
770      181           5                                 Reaper's Toll   1.66
771      181           5                                 Reaper's Toll   1.66
772      181           5                                 Reaper's Toll   1.66
773      181           5                                 Reaper's Toll   1.66
774      182           3                                     Toothpick   4.03
775      182           3                                     Toothpick   4.03
776      182           3                                     Toothpick   4.03
777      183           3                           Dragon's Greatsword   1.09
778      183           3                           Dragon's Greatsword   1.09
779      183           3                           Dragon's Greatsword   1.09

[780 rows x 4 columns]

In [35]:
popular_item.duplicated().count()

780

In [36]:
popular_item.drop_duplicates(inplace=True)

In [37]:
popular_item.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 0 to 777
Data columns (total 4 columns):
Item ID       183 non-null int64
Item count    183 non-null int64
Item Name     183 non-null object
Price         183 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 7.1+ KB

In [38]:
popular_item.sort_values(by='Item count', ascending=False,inplace=True)
popular_item.head(20)

     Item ID  Item count                                     Item Name  Price
750      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
613      145           9                          Fiery Glass Crusader   4.58
456      108           9     Extraction, Quickblade Of Trembling Hands   3.53
340       82           9                                       Nirvana   4.90
80        19           8                 Pursuit, Cudgel of Necromancy   1.02
436      103           8                                Singed Scalpel   4.35
307       75           8                       Brutality Ivory Warmace   2.42
291       72           8                                 Winter's Bite   3.77
242       60           8                                          Wolf   3.54
234       59           8                 Lightning, Etcher of the King   4.23
150       37           8           Shadow Strike, Glory of Ending Hope   3.16
137       34           8                               Retribution Axe   2.22
381       92           8                                  Final Critic   4.88
208       53           7                             Vengeance Cleaver   2.05
468      110           7                                    Suspension   1.44
30         7           7                  Thorn, Satchel of Dark Souls   1.33
284       71           7                                        Demise   1.61
498      117           7             Heartstriker, Legacy of the Light   1.79
674      159           7             Oathbreaker, Spellblade of Trials   3.08
356       85           7                                Malificent Bag   1.75

In [39]:
popular_item=popular_item.reset_index()
popular_item.head()

,index,Item ID,Item count,Item Name,Price
0,750,178,12,"Oathbreaker, Last Hope of the Breaking Storm",4.23
1,613,145,9,Fiery Glass Crusader,4.58
2,456,108,9,"Extraction, Quickblade Of Trembling Hands",3.53
3,340,82,9,Nirvana,4.90
4,80,19,8,"Pursuit, Cudgel of Necromancy",1.02

In [40]:
popular_item= popular_item.drop(['index'],axis=1)
popular_item.head()

   Item ID  Item count                                     Item Name  Price
0      178          12  Oathbreaker, Last Hope of the Breaking Storm   4.23
1      145           9                          Fiery Glass Crusader   4.58
2      108           9     Extraction, Quickblade Of Trembling Hands   3.53
3       82           9                                       Nirvana   4.90
4       19           8                 Pursuit, Cudgel of Necromancy   1.02

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [41]:
popular_item['Total purchase']=popular_item['Price']*popular_item['Item count']

In [42]:
popular_item.head()

,Item ID,Item count,Item Name,Price,Total purchase
0,178,12,"Oathbreaker, Last Hope of the Breaking Storm",4.23,50.76
1,145,9,Fiery Glass Crusader,4.58,41.22
2,108,9,"Extraction, Quickblade Of Trembling Hands",3.53,31.77
3,82,9,Nirvana,4.90,44.10
4,19,8,"Pursuit, Cudgel of Necromancy",1.02,8.16

In [43]:
total_purchase=popular_item.sort_values(by='Total purchase',ascending=False)

In [44]:
total_purchase.head()

,Item ID,Item count,Item Name,Price,Total purchase
0,178,12,"Oathbreaker, Last Hope of the Breaking Storm",4.23,50.76
3,82,9,Nirvana,4.90,44.10
1,145,9,Fiery Glass Crusader,4.58,41.22
12,92,8,Final Critic,4.88,39.04
5,103,8,Singed Scalpel,4.35,34.80